.not-found__paragraph {
    margin: 0;
    padding-top: 16px;
    text-align: center;
    font-family: Roboto-regular, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #B6BCBF;
}