.header__burger {  
    display: none;
}

@media screen and (min-width: 375px) and (max-width: 767px){
    .header__burger {
        top: 16px;
        right: 20px;
        width: 22px;
        height: 22px;
        position: absolute;
        display: block;  
        
    }
}

@media screen and (min-width: 320px) and (max-width: 374px){
    .header__burger {
        top: 16px;
        right: 20px;
        width: 22px;
        height: 22px;
        position: absolute;
        display: block;   
        
    }
}