.cards {
    margin: 0 auto;
    padding-top: 62px;
    padding-bottom: 62px;
    max-width: 1232px;
    display: grid;
    grid-template-columns: 400px 400px 400px;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
}

@media screen and (min-width: 767px) and (max-width: 1023px){
    .cards {
        padding-top: 32px;
        padding-bottom: 37px;
        width: 688px;
        display: grid;
        grid-template-columns: 224px 224px 224px;
        grid-column-gap: 8px;
        grid-row-gap: 8px;
        max-width: 768px;
    }
}
@media screen and (min-width: 320px) and (max-width: 374px){
    .cards {
        display: flex;
        flex-direction: column;
        padding-top: 24px;
        max-width: 320px;     
    }
}

