.popup__input {
    margin: 0;
    border: none;
    padding-bottom: 5px;
    opacity: 0.2;
    border-bottom: 1px solid #000000;;
    outline: none;
    font-family: Inter, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
}
.popup__input:focus {
    color: #000000;
    opacity: 1;
}