.header__burger {
    display: none;
}
@media screen and (min-width: 320px) and (max-width: 374px){
    .header__burger {
        right: 0;
        margin-right: 16px;
        margin-top: 16px;
        display: block;
        position: absolute;
        width: 24px;
        height: 24px;
        background-image: url(../../../../../images/icons/menu-burger.svg);
        background-repeat: no-repeat;
        cursor: pointer;
    } 
}
