.cards__image-dell {
    position: absolute;
    width: 40px;
    height: 40px;
    right: 0;
    margin-right: 24px;
    margin-top: 24px;
    background-color: white;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    outline: none;
    background-image: url(../../../../../images/icons/del.svg);
    background-repeat: no-repeat;
    background-position: center;
}
.cards__image-dell:hover {
    background-image: url(../../../../../images/icons/trash.svg);
    background-repeat: no-repeat;
    background-position: center;
}
.cards__image-dell:hover + .cards__image-info {
    visibility: visible;
}
