.search {
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1440px;
    background-image: url(../../../../images/georgia-de-lotz--UsJoNxLaNo-unsplash.jpg);
    background-position:center;
    background-size: cover;
}

@media screen and (min-width: 767px) and (max-width: 1023px){
    .search {
        background-size:contain;
        background-position:center;
        background-size: cover;
        max-width: 768px;
    }
}
@media screen and (min-width: 375px) and (max-width: 766px){
    .search {
        background-size:contain;
        background-position:center;
        background-size: cover;
        max-width: 375px;
    }
}
@media screen and (min-width: 320px) and (max-width: 374px){
    .search {
        background-size:contain;
        background-position:center;
        background-size: cover;
        max-width: 320px;     
    }
}